* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #017575;
    --artist-album-width: 15rem;
    --artwork-background-color: #edebeb;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


.album {
    width: 100vw;
    height: fit-content;
}

.album__search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--theme-color);
    padding: 1rem 0;



}

.album__search-form {
    position: relative;
    width: 50%;

}

#album__searchbar {
    width: 100%;
    font-size: 2rem;
    padding: 1rem 5rem 1rem 3rem;
    border: none;
    border-radius: 2rem;
}

.album__icon-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 2rem;

    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
}

.album__icon-container:hover {
    cursor: pointer;
}

.album__icon-container img {
    width: 100%;
    object-fit: contain;
}



.album__content {
    width: 70vw;
    margin: 0 auto;
}

.album__content__search-result {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    border-bottom: 2px solid var(--theme-color);
}

.album__content__artworks {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(var(--artist-album-width),1fr));
    gap: 1rem;
    padding: 1rem;
}


.artwork {
    border: 1px solid var(--theme-color);
    width: var(--artist-album-width);
    padding: 4px;
    background-color: var(--artwork-background-color);
}

.artwork__thumbnail-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.artwork__thumbnail {
    width: 100%;
    object-fit: fill;
}

.artwork__title {
    text-align: center;
    padding: 1rem 0;
}


.hidden {
    display: none;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 50vw;
    height: 50vh;
    background-color: red;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}